certifi==2017.11.5
chardet==3.0.4
Django==1.11.28
django-ckeditor==5.4.0
django-js-asset==0.1.1
django-markdownx==2.0.21
django-qiniu-storage==2.3.1
django-summernote==0.8.8.5
DjangoUeditor==1.8.143
idna==2.6
Markdown==2.6.10
MySQL-python==1.2.5
Pillow==5.0.0
Pygments==2.2.0
PyMySQL==0.7.11
pytz==2017.3
qiniu==7.2.0
requests==2.18.4
six==1.11.0
urllib3==1.22
